<%if(user){%>
    <%console.log('USER EXIST')%>
    <%console.log(user)%>
    <%if(user.toObject().role){%>
        <%console.log('USER ROLE GOOD')%>
        <%console.log(user.toObject().role)%>
        <%if(user.toObject().role === 'tulu'){%>
            
            <%console.log('TULU')%>

                    <li class="">
                        <a href="/Tulu">Profile</a>
                    </li>
                    <!-- <li class="subMenuListLink">
                        <a href="/messages">Messages</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/appointment">Appointments</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/clients">Clients</a>
                    </li> -->
                    <li class="">
                        <a href="/users/logout">Log Out</a>
                    </li>
            <p class="loggedInAs">Logged in as : <%- user.toObject().fName%> <%- user.toObject().lName%> </p>
        <%}%>
        <%if(user.toObject().role === 'user'){%>
            <%console.log('REGULAR USER')%>

                    <li class="">
                        <a href="/profile">Profile</a>
                    </li>
                    <!-- <li class="subMenuListLink">
                        <a href="/messages">Messages</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/appointment">Appointments</a>
                    </li> -->
                    <li class="">
                        <a href="/users/logout">Log Out</a>
                    </li>

            <p class="loggedInAs">Logged in as : <%- user.toObject().fName%> <%- user.toObject().lName%> </p>
        <%}%>
        <%if(user.toObject().role === 'sysadmin'){%>
            <%console.log('SYSADMIN')%>
 
                    <li class="">
                        <a href="/DashboardSysAdmin">Profile</a>
                    </li>
                    <li class="">
                        <a href="/sysadminvehicles/DashboardSysAdminVehicle">View Vehicles</a>
                    </li>
                    <!-- <li class="subMenuListLink">
                        <a href="/vin/FuckingVinDoesntWork">Vucking Fin Doesn't Work</a>
                    </li> -->
                    <li class="">
                        <a href="/Dealerships/DashboardSysAdminDealership">Add Dealership</a>
                    </li>
                    <li class="">
                        <a href="/DashboardSysAdminUser">User</a>
                    </li>
                    <li class="">
                        <a href="/DashboardSysAdminTulu">Tulu</a>
                    </li>
                    <li class="">
                        <a href="/users/logout">Log Out</a>
                    </li>

            <p class="loggedInAs">Logged in as : Sys Admin </p>
        <%}%>
        <%if(user.toObject().role === 'dealeradmin'){%>    
            <%console.log('DEALERADMIN or DEALERUSER')%>

                    <li class="">
                        <a href="/Dashboard">Profile</a>
                    </li>
                    <li class="">
                        <a href="/dealerships/EditDealer">Edit My Dealership</a>
                    </li>
                    <li class="">
                        <a href="/vehicles/DashboardVehicle">Vehicles</a>
                    </li>
                    <!-- <li class="subMenuListLink">
                        <a href="/DashboardUser">Users</a>
                    </li> -->
                    <!-- <li class="subMenuListLink">
                        <a href="/messages">Messages</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/appointment">Appointments</a>
                    </li> -->
                    <li class="">
                        <a href="/users/logout">Log Out</a>
                    </li>

            <p class="loggedInAs">Logged in as : <%- user.toObject().fName%> <%- user.toObject().lName%> </p>
        <%}%>
        <%if(user.toObject().role === 'dealeruser'){%>    
            <%console.log('DEALERADMIN or DEALERUSER')%>
 
                    <li class="">
                        <a href="/Dashboard">Profile</a>
                    </li>
                    <li class="">
                        <a href="/vehicles/DashboardVehicle">Vehicles</a>
                    </li>
                    <!-- <li class="subMenuListLink">
                        <a href="/DashboardUser">Users</a>
                    </li> -->
                    <!-- <li class="subMenuListLink">
                        <a href="/messages">Messages</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/appointment">Appointments</a>
                    </li> -->
                    <li class="">
                        <a href="/users/logout">Log Out</a>
                    </li>
            <p class="loggedInAs">Logged in as : <%- user.toObject().fName%> <%- user.toObject().lName%> </p>
        <%}%>
    <%}%>
<%}%>

<%if(!user){%>
    <%console.log('NO USER')%>

            <li class="">
                <a href="/users/login">Sign In</a>    
            </li>
            <li class="">
                <a href="/users/register">Register</a>
            </li>

    <p class="loggedInAs">Logged in as Guest</p>
<%}%> 