<%if(user){%>
    <%console.log('USER EXIST')%>
    <%console.log(user)%>
    <%if(user.toObject().role){%>
        <%console.log('USER ROLE GOOD')%>
        <%console.log(user.toObject().role)%>
        <%if(user.toObject().role === 'tulu'){%>
            
            <%console.log('TULU')%>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/">Home</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/About">About Us</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/Shop">Shop</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle" onclick="accountSubMenu()">
                    My Account
                    <i class="fas fa-sort-down accountDropMenuBtn"></i>
                </p>
                <ul class="accountSubMenuList">
                    <li class="subMenuListLink">
                        <a href="/Tulu">Profile</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/messages">Messages</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/appointment">Appointments</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/clients">Clients</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/users/logout">Log Out</a>
                    </li>
                </ul>
            </li>
            <li class="menuItems">
                <a href="/Events">Events</a>
            </li>
            <li class="menuItems">
                <a href="/TuluList">Tulus</a>
            </li>
            <li class="menuItems">
                <a href="/DealershipList">Dealerships</a>
            </li>
            <p class="loggedInAs">Logged in as : <%- user.toObject().fName%> <%- user.toObject().lName%> </p>
        <%}%>
        <%if(user.toObject().role === 'user'){%>
            <%console.log('REGULAR USER')%>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/">Home</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/About">About Us</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/Shop">Shop</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle" onclick="accountSubMenu()">
                    My Account
                    <i class="fas fa-sort-down accountDropMenuBtn"></i>
                </p>
                <ul class="accountSubMenuList">
                    <li class="subMenuListLink">
                        <a href="/profile">Profile</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/messages">Messages</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/appointment">Appointments</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/users/logout">Log Out</a>
                    </li>
                </ul>
            </li>
            <li class="menuItems">
                <a href="/Events">Events</a>
            </li>
            <li class="menuItems">
                <a href="/TuluList">Tulus</a>
            </li>
            <li class="menuItems">
                <a href="/DealershipList">Dealerships</a>
            </li>
            <li class="menuItems">
                <a onclick="https://www.tulucanada.com/web/careers">
                <a onclick="window.location.href= `https://www.tulucanada.com/web/careers`">
                <a onclick="window.open(`https://www.tulucanada.com/web/careers`)">
                    <button class="influencerBtn">Become a Tulu</button>
                </a>
            </li>
            <p class="loggedInAs">Logged in as : <%- user.toObject().fName%> <%- user.toObject().lName%> </p>
        <%}%>
        <%if(user.toObject().role === 'sysadmin'){%>
            <%console.log('SYSADMIN')%>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/">Home</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/About">About Us</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/Shop">Shop</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/WholesaleMarketplace">Wholesale Marketplace</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle" onclick="accountSubMenu()">
                    My Account
                    <i class="fas fa-sort-down accountDropMenuBtn"></i>
                </p>
                <ul class="accountSubMenuList">
                    <li class="subMenuListLink">
                        <a href="/DashboardSysAdmin">Profile</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/sysadminvehicles/DashboardSysAdminVehicle">View Vehicles</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/Dealerships/DashboardSysAdminDealership">Add Dealership</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/DashboardSysAdminUser">User</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/DashboardSysAdminTulu">Tulu</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/users/logout">Log Out</a>
                    </li>
                </ul>
            </li>
            <li class="menuItems">
                <a href="/Events">Events</a>
            </li>
            <li class="menuItems">
                <a href="/TuluList">Tulus</a>
            </li>
            <li class="menuItems">
                <a href="/DealershipList">Dealerships</a>
            </li>
            <p class="loggedInAs">Logged in as : Sys Admin </p>
        <%}%>
        <%if(user.toObject().role === 'dealeradmin'){%>    
            <%console.log('DEALERADMIN or DEALERUSER')%>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/">Home</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/About">About Us</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/Shop">Shop</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/WholesaleMarketplace">Wholesale Marketplace</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle" onclick="accountSubMenu()">
                    My Account
                    <i class="fas fa-sort-down accountDropMenuBtn"></i>
                </p>
                <ul class="accountSubMenuList">
                    <li class="subMenuListLink">
                        <a href="/Dashboard">Profile</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/EditDealership">Edit My Dealership</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/vehicles/DashboardVehicle">Vehicles</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/DashboardUser">Users</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/messages">Messages</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/appointment">Appointments</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/users/logout">Log Out</a>
                    </li>
                </ul>
            </li>
            <li class="menuItems">
                <a href="/Events">Events</a>
            </li>
            <li class="menuItems">
                <a href="/TuluList">Tulus</a>
            </li>
            <li class="menuItems">
                <a href="/DealershipList">Dealerships</a>
            </li>
            <p class="loggedInAs">Logged in as : <%- user.toObject().fName%> <%- user.toObject().lName%> </p>
        <%}%>
        <%if(user.toObject().role === 'dealeruser'){%>    
            <%console.log('DEALERADMIN or DEALERUSER')%>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/">Home</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/About">About Us</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/Shop">Shop</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle">
                    <a href="/WholesaleMarketplace">Wholesale Marketplace</a>
                </p>
            </li>
            <li class="menuItems">
                <p class="menuDropDownTitle" onclick="accountSubMenu()">
                    My Account
                    <i class="fas fa-sort-down accountDropMenuBtn"></i>
                </p>
                <ul class="accountSubMenuList">
                    <li class="subMenuListLink">
                        <a href="/Dashboard">Profile</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/vehicles/DashboardVehicle">Vehicles</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/DashboardUser">Users</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/messages">Messages</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/appointment">Appointments</a>
                    </li>
                    <li class="subMenuListLink">
                        <a href="/users/logout">Log Out</a>
                    </li>
                </ul>
            </li>
            <li class="menuItems">
                <a href="/Events">Events</a>
            </li>
            <li class="menuItems">
                <a href="/TuluList">Tulus</a>
            </li>
            <li class="menuItems">
                <a href="/DealershipList">Dealerships</a>
            </li>
            <p class="loggedInAs">Logged in as : <%- user.toObject().fName%> <%- user.toObject().lName%> </p>
        <%}%>
    <%}%>
<%}%>

<%if(!user){%>
    <%console.log('NO USER')%>
    <li class="menuItems">
        <p class="menuDropDownTitle">
            <a href="/">Home</a>
        </p>
    </li>
    <li class="menuItems">
        <p class="menuDropDownTitle">
            <a href="/About">About Us</a>
        </p>
    </li>
    <li class="menuItems">
        <p class="menuDropDownTitle">
            <a href="/Shop">Shop</a>
        </p>
    </li>
    <li class="menuItems">
        <p class="menuDropDownTitle" onclick="accountSubMenu()">
            My Account
            <i class="fas fa-sort-down accountDropMenuBtn"></i>
        </p>
        <ul class="accountSubMenuList">
            <li class="subMenuListLink">
                <a href="/users/login">Sign In</a>    
            </li>
            <li class="subMenuListLink">
                <a href="/users/register">Register</a>
            </li>
        </ul>
    </li>
    <li class="menuItems">
        <a href="/Events">Events</a>
    </li>
    <li class="menuItems">
        <a href="/TuluList">Tulus</a>
    </li>
    <li class="menuItems">
        <a href="/DealershipList">Dealerships</a>
    </li>
    <li class="menuItems">
        <a onclick="window.open(`https://www.tulucanada.com/web/careers`)">
            <button class="influencerBtn">Become a Tulu</button>
        </a>
    </li>
    <p class="loggedInAs">Logged in as Guest</p>
<%}%> 