
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/css/all.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/addVehicle.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="../images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
            
        </ul>
        <p class="loggedInAs"></p>
    </div>

    <div class="popUp">
        <p>We're having connection issues. Please make sure you're logged in and try again</p>
        <button><a href="/vindecoder">Try Again</a></button>
    </div>

    <div class="container">
        <form action="/vehicles/addVehicle" method="POST">
            <%- include partials/messages %>
            <div class="pageOne">
                <label for="vin">VIN</label>
                <input type="text" name="vin" id="vin" disabled>
                <label for="year">Year</label>
                <input type="text" name="year" id="year" disabled>
                <label for="make">Make</label>
                <input type="text" name="make" id="make" disabled>
                <label for="model">Model</label>
                <input type="text" name="model" id="model" disabled>
                <label for="vehicleType">Vehicle Type</label>
                <input type="text" name="vehicleType" id="vehicleType" disabled>
                <label for="trim">Trim</label>
                <input type="text" name="trim" id="trim" disabled>
                <label for="modelNumber">Model Number</label>
                <input type="text" name="modelNumber" id="modelNumber" disabled>
            </div>

            <div class="pageTwo">
                <label for="engineName">Engine Name</label>
                <input type="text" name="engineName" id="engineName" disabled>
                <label for="engineBrand">Engine Brand</label>
                <input type="text" name="engineBrand" id="engineBrand" disabled>
                <label for="driveType">Drive Type</label>
                <input type="text" name="driveType" id="driveType" disabled>
                <label for="transmissionName">Transmission Name</label>
                <input type="text" name="transmissionName" id="transmissionName" disabled>
                <label for="fuelType">Fuel Type</label>
                <input type="text" name="fuelType" id="fuelType" disabled>
            </div>
            
            <input type="hidden" name="dealerId" id="dealerId" disabled>
            <input type="hidden" name="isSold" id="isSold" value="false" disabled>
            <input type="hidden" name="engineID" id="engineID" disabled>
            <input type="hidden" name="iceMaxHp" id="iceMaxHp">
            <input type="hidden" name="iceMaxTorque" id="iceMaxTorque">
            <input type="hidden" name="colorHex" id="colorHex">

            <div class="pageThree">
                <label for="doors">No. of Doors</label>
                <input type="text" name="doors" id="doors" disabled>
                <label for="colorName">Color</label>
                <input type="text" name="colorName" id="colorName">
                <label for="mileage">Mileage</label>
                <input type="text" name="mileage" id="mileage">
            </div>

            <div class="pageFour">
                <label for="msrp">MSRP</label>
                <input type="text" name="msrp" id="msrp" disabled>
                <label for="minPrice">Minimum Price</label>
                <input type="text" name="minPrice" id="minPrice">
                <label for="maxPrice">Maximum Price</label>
                <input type="text" name="maxPrice" id="maxPrice">
                <label for="refFee">Referral Fee</label>
                <input type="text" name="refFee" id="refFee">
            </div>
            
            <div class="pageFive">
                <label for="maxPayLoad">Max Payload</label>
                <input type="text" name="maxPayLoad" id="maxPayLoad" disabled>
                <label for="baseTowingCapacity">Base Towing Capacity</label>
                <input type="text" name="baseTowingCapacity" id="baseTowingCapacity" disabled>
                <label for="grossWeight">Gross Weight</label>
                <input type="text" name="grossWeight" id="grossWeight">
                <label for="fuelTankCapacity">Fuel Tank Capacity</label>
                <input type="text" name="fuelTankCapacity" id="fuelTankCapacity">
            </div>

            <div class="pageSix">
                <label for="notes">Notes</label>
                <input type="text" name="notes" id="notes">
            </div>
            <button type="button" class="nextBtn" onclick="goNext()">
              Next
            </button>
            <button type="submit" class="saveBtn">
                Save Vehicle
              </button>
            <button type="button" class="backBtn" onclick="goBack()">
              Back
            </button>
          </form>
    </div>
</body>
<script src="../Js/sideMenu.js"></script>
<script src="../Js/privileges.js"></script>
<script>
    const vin = <%-JSON.stringify(vin)%>;
    const dealer = <%-JSON.stringify(dealer)%>;
    const user = <%-JSON.stringify(user)%>;
    const infoData = <%-JSON.stringify(infoData)%>;
</script>
<script src="../Js/addVehicle.js"></script>

</html>

