<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/css/all.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/buyNow.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
  <%- include partials/googleAnalytics %>
</head>
  <body>
    <nav id="Nav">
        <a href="/">
            <img src="../images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <%- include partials/dropDownMenu %>
        </ul>
    </div>

    <div id="SideMenu" class="sideMenu">
      <ul class="menu">
        <%- include partials/sidemenu %>
      </ul>
      <p class="loggedInAs"></p>
    </div>

    <div class="header">
      <h2>Tulu Buy Now!</h2>
      <p>Dealership : <%= dealer[0].name %></p>
      <p>Website : <%= dealer[0].website %></p>
      <p>Vehicle : <%= vehicle[0].year %> <%= vehicle[0].make %> <%= vehicle[0].model %></p>
      <p>Price : $<%= vehicle[0].maxPrice %></p>
    </div>
    <div class="container body-content">
      <form id="my-form" action="/buynow/email" method="POST">
        <input type="hidden" id="targetId" name="targetId" value="<%= dealer[0]._id %>" />
        <input type="hidden" id="vin" name="vin" value="<%= vehicle[0].vin %>" />
        <input
          type="hidden"
          id="dealership"
          name="dealership"
          value="<%= dealer[0].name %>"
        />
        <input
          type="hidden"
          id="vehicle"
          name="vehicle"
          value="<%= vehicle[0].year %> <%= vehicle[0].make %> <%= vehicle[0].model %>"
        />
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="firstName" required />
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="lastName" required />
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" name="phoneNumber" id="phoneNumber" required />
        <label for="email">Email address:</label>
        <input type="text" name="email" id="email" required />

        <label for="location">Pick up Location:</label>
        <select name="location" id="location">
          <option value=""></option>
          <option value="Home">Home</option>
          <option value="Dealership">Dealership</option>
        </select>

        <p><strong>Home Address:</strong></p>
        <br />
        <label for="street">Street:</label>
        <input type="text" name="street" id="street" required />
        <label for="city">City:</label>
        <input type="text" name="city" id="city" required />
        <label for="province">Province:</label>
        <input type="text" name="province" id="province" required />
        <label for="postal">Postal Code:</label>
        <input type="text" name="postal" id="postal" required />
        
        <button>Submit</button>
      </form>
    </div>
  </body>
  <script src="../Js/sideMenu.js"></script>
  <script src="../Js/privileges.js"></script>
  <script>
    var vehicle = <%-JSON.stringify(vehicle)%>
    var dealer = <%-JSON.stringify(dealer)%>
    console.log(dealer);
    console.log(vehicle);

  </script>
</html>
