<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/css/all.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/carView.css" />
    <link rel="stylesheet" href="../styles/gallery.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
  <%- include partials/googleAnalytics %>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-61313fdb257ba90c"></script>
</head>
  <body>
    <nav id="Nav">
        <a href="/">
            <img src="../images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <%- include partials/dropDownMenu %>
        </ul>
    </div>

    <div id="SideMenu" class="sideMenu">
      <ul class="menu">
        <%- include partials/sidemenu %>
      </ul>
      <p class="loggedInAs"></p>
    </div>
    <div class="container body-content">
      <!-- Vendor -->
      <div id="carVendor" class="carVendor">
        <div class="userImage">
          <a href="/DealerListing/<%= dealers[0].uuid %>">
            <img src="/image/<%= dealerAdmin[0]._id %>" alt="" />
          </a>
        </div>
        <div class="userInfo">
          <p class="userActiveListingCount" id="userActiveListingCount"></p>
        </div>
      </div>

      <!-- VEHICLE INFO -->
      <section id="Vehicles" class="vehicles">
        <div class="carDetails">
          <div class="gallery">
            <i class="fas fa-times fa-2x" id="closeGallery" onclick="closeGallery()"></i>
            <% if (images.length > 0){%>
            <div class="slideshow-container" onclick="gallery()">
            <!-- <div class="slideshow-container" > -->
              <% images.forEach(function(image){ %>
              <div class="mySlides fade">
                <img
                  class="imageContain"
                  src="/image/<%= image.target_id %>/<%= image.file_id %>"
                  alt=""
                />
              </div>
              <% }) %>

              
              <br />
              <div
                style="
                  text-align: center;
                  display: flex;
                  flex-direction: row;
                  margin: auto;
                "
              >
                <% for(i=1; i<= images.length; i++){ %>
                <span class="dot" onclick="currentSlide(<%= i %>)"></span>
                <% } %>
              </div>
            </div>
            <%} else {%>
            <br />
            <br />
            <img src="../images/noimageavailable.jpg" alt="" />
            <% } %>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          <div class="carTitle">
            <h2 class="carName"><%= vehicles[0].year%> <%= vehicles[0].make%> <%= vehicles[0].model%></h2>
            <p class="carPrice">$ <%= vehicles[0].maxPrice%></p>
            <%if(user){%>
              <%if(user.toObject().role === 'tulu'){%>
            <p class="carReferralFee">Referral Fee : $<%= vehicles[0].refFee%></p>
              <%}%>
            <%}%>
          </div>
          <button class="buyNowBtn" onclick="buyNow()">Buy now!</button>
          <!-- <a  href="tel:+18335808858">
            <button class="buyNowBtn" onclick="">Call To Inquire</button>
          </a> -->
          <button class="buyNowBtn" onclick="testDrive()">Test Drive This Vehicle</button>
          <button class="buyNowBtn" onclick="financeThis()">Finance This Vehicle</button>

          <% if(!user) {%>

          <div class="BookContainer">
            <p>Book an appointment?</p>
            <div class="signInBtn">
              <a href="/dashboard">Sign In!</a>
            </div>
          </div>
          <% } if(user){%>
          <button onclick="bookAppointment()" class="bookAppointment">
            Book an appointment
          </button>
          <%}%>
        </div>
        <div class="carSpecsBox">
          <div class="carSpecsCol">
            <ul class="carSpecs" id="carSpecs">
              <li class="carInfo">
                <p>Year</p>
                <p class="year"><%= vehicles[0].year%></p>
              </li>
              <li class="carInfo">
                <p>Make</p>
                <p class="make"><%= vehicles[0].make%></p>
              </li>
              <li class="carInfo">
                <p>Model</p>
                <p class="model"><%= vehicles[0].model%></p>
              </li>
              <li class="carInfo">
                <p>Color</p>
                <p class="color"><%= vehicles[0].color%></p>
              </li>
              <li class="carInfo">
                <p>Body Type</p>
                <p class="bodyType"><%= vehicles[0].vehicleType%></p>
              </li>
              <li class="carInfo">
                <p>Engine</p>
                <p class="engine"><%= vehicles[0].engineName%></p>
              </li>
              <li class="carInfo">
                <p>Drivetrain</p>
                <p class="driveType"><%= vehicles[0].driveType%></p>
              </li>
              <li class="carInfo">
                <p>Transmission</p>
                <p class="transmission"><%= vehicles[0].transmissionName%></p>
              </li>
              <li class="carInfo">
                <p>Fuel Type</p>
                <p class="fuel"><%= vehicles[0].fuelType%></p>
              </li>
              <li class="carInfo">
                <p>Trim</p>
                <p class="trim"><%= vehicles[0].trim%></p>
              </li>
            </ul>
          </div>
          <div class="infoBoxVN">
            <div class="carInfoVin">
              <p>VIN#:</p>
              <p class="vin"><%= vehicles[0].vin %></p>
            </div>
            <div class="carInfo carInfoNotes">
              <p>Notes:</p>
              <p class="notes"><%= vehicles[0].notes %></p>
            </div>
          </div>
        </div>
      </section>
      <section class="questionSection" id="questionSection">
        <div class="QuestionContainer">
          <h2>Questions?</h2>
          <p>Connect with a Tulu!</p>
          <a href="/TuluList">
            <button>Connect</button>
          </a>
        </div>
      </section>
      <!-- SHARE BUTTON -->
      <div class="addthis_inline_share_toolbox"></div>
      <section class="shareSection" id="shareSection">
        <div class="ShareContainer">
          <p>Share This Listing</p>
          <div class="shareBtnContainer" id="shareBtnContainer">
            <% if(user) {%>
            <script>
              var url = window.location.href;
              var fbBtn = "";
              fbBtn +=
                '<a class="facebookButton"  onclick="ShareVehicle()" href="https://www.facebook.com/sharer/sharer.php?u=' +
                url +
                '" target="_blank">';
              fbBtn += "     Share on Facebook";
              fbBtn += "</a>";
              $("#shareBtnContainer").append(fbBtn);
            </script>
            <% }%> <% if(!user) {%>
            <div class="signInBtn">
              <a href="/users/login">Sign In!</a>
            </div>
            <% }%>
          </div>
        </div>
      </section>
    </div>
    <%- include partials/footer %>
    <div id="fb-root"></div>


    <div class="financePopUp">
      <form method="post" action="/finance/financeVehicle">
        <div class="finance">
        <p>You’re about to inquire about a financing application for <%= vehicles[0].year%> <%= vehicles[0].make%> <%= vehicles[0].model%> . Please fill in the form below and one of our finance experts will contact you regarding a vehicle finance application.</p>
        <fieldset style="display:none;">
          <div class="inputContainer">
            <label for="vinNumber">VIN</label>
            <input type="text" name="vinNumber" id="vinNumber" value="<%= vehicles[0].vin %>">
          </div>
          <div class="inputContainer">
            <label for="dealershipName">Dealership</label>
            <input type="text" name="dealershipName" id="dealershipName" value="<%= dealers[0].name %>">
          </div>
          </fieldset>
        <fieldset>
        <div class="inputContainer">
          <label for="year">Year</label>
          <input type="text" name="year" id="year" value="<%= vehicles[0].year %>" onchange="verifyFinance()">
        </div>
        <div class="inputContainer">
          <label for="make">Make</label>
          <input type="text" name="make" id="make" value="<%= vehicles[0].make %>" onchange="verifyFinance()">
        </div>
        <div class="inputContainer">
          <label for="model">Model</label>
          <input type="text" name="model" id="model" value="<%= vehicles[0].model %>" onchange="verifyFinance()">
        </div>
      </fieldset>
      <fieldset>
        <div class="inputContainer">
          <label for="fname">First Name</label>
          <input type="text" name="fname" id="fname" placeholder="Enter First Name" required onchange="verifyFinance()">
        </div>
        <div class="inputContainer">
          <label for="lname">Last Name</label>
          <input type="text" name="lname" id="lname" placeholder="Enter First Name" required onchange="verifyFinance()">
        </div>
        <div class="inputContainer">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Enter Phone Number" required onchange="verifyFinance()">
        </div>
      </fieldset>
      <fieldset>
        <div class="inputContainer">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" placeholder="Enter Email" required onchange="verifyFinance()">
        </div>
        <div class="inputContainer">
          <label for="when">How soon do you want your vehicle</label>
          <select name="when" id="when" onchange="verifyFinance()">
            <option value="This Week">This Week</option>
            <option value="This Month">This Month</option>
            <option value="This Year">This Year</option>
          </select>
        </div>
        </fieldset>
        <button type="button" class="financeSubmit" onclick="FinanceThankYou()" disabled>SUBMIT</button>
        <button type="button" onclick="cancelFinance()">CANCEL</button>
      </div>
      <div class="financeThankYou">
        <h2>
          Congrats!
        </h2> 
        <p>
          You’ve taken the first step to your new vehicle! Thank you for filling in the form with all your finance details. a Tulu Representative will be contacting you in a few hours. Happy driving!
        </p>
        <button type="submit">OK</button>
      </div>
      </form>
    </div>

    

  </body>

  <script type="text/javascript">

    var vin = <%- JSON.stringify(vehicles[0].vin)%>
    console.log(vin)
    var dealers = <%- JSON.stringify(dealers)%>
    console.log(dealers)
    var dealerAdmin = <%- JSON.stringify(dealerAdmin)%>
    console.log(dealerAdmin)
    var vehicles = <%- JSON.stringify(vehicles)%>
    console.log(vehicles)
    var address = <%- JSON.stringify(address)%>
    console.log(address)
    var dealerId = dealers[0]._id;
  </script>
  <script src="../Js/sideMenu.js"></script>
  <script src="../Js/carView.js"></script>

  <script>
    var html="";
    html+='<meta property="og:title" content="'+vehicles[0].year +" "+ vehicles[0].make +" "+ vehicles[0].model+'">';

    $('head').prepend(html);
  </script>
</html>
