<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/css/all.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/contactUs.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
  <%- include partials/googleAnalytics %>
</head>
  <body>
    <nav id="Nav">
      <a href="/">
        <img src="images/tulu-logo_white.png" alt="" />
      </a>
      <div class="menuButton" onclick="slideMenu()">
        <i class="fas fa-bars fa-2x menuBtn"></i>
        <i class="fas fa-times fa-2x closeMenuBtn"></i>
      </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <!-- <%- include partials/dropDownMenu %> -->
        </ul>
    </div>

    <div id="SideMenu" class="sideMenu">
      <ul class="menu">
        <%- include partials/sidemenu %>
      </ul>
      <p class="loggedInAs"></p>
    </div>

    <div class="container body-content">
      <div class="questions">
        <h2>Questions?</h2>
        <p>Didn’t find the information you were looking for? Fill out the form below and one of our team members will contact you shortly.</p>
      </div>
      <div class="formContainer">
        <form id="my-form" action="/contact/email" method="POST">
          <label for="firstName">First Name:</label>
          <input type="text" name="firstName" id="firstName" required />
          <label for="lastName">Last Name:</label>
          <input type="text" name="lastName" id="lastName" required />
          <label for="phoneNumber">Phone Number:</label>
          <input type="text" name="phoneNumber" id="phoneNumber" required />
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" />
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="4" cols="20"> </textarea>
          <button>Submit</button>
        </form>
      </div>
    </div>
    <div class="keepInTouch">
      <h1>Stay Connected with tulu</h1>
      <!-- <h2>We're here to help with any questions.</h2> -->
      <p>you can contact us directly by phone at 1-833-580-8858 or by email at info@tulucanada.com</p>
      <ul>
        <li>
          <a href="" target="_blank">
            <i class="fab fa-facebook fa-3x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/tulucanada/" target="_blank">
            <i class="fab fa-instagram fa-3x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/tulu-inc/" target="_blank">
            <i class="fab fa-linkedin-in fa-3x"></i>
          </a>
        </li>
      </ul>
      <!-- <p>you can contact us directly by phone at 1-833-580-8858 or by email at info@tulucanada.com</p> -->
    </div>
    <%- include partials/footer %>
  </body>

  <script src="Js/sideMenu.js"></script>
</html>
