


<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/css/all.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/sysadminVehicle.css" />
    <link rel="stylesheet" href="../styles/addListing.css">
    <link rel="stylesheet" href="../styles/listingSettings.css">
    <link rel="stylesheet" href="../styles/myAccountMenu.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../Js/Helpers/UploadHelper.js"></script>

<%- include partials/googleAnalytics %>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="../images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <%- include partials/dropDownMenu %>
        </ul>
    </div>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
        </ul>
    </div>

    <div class="container body-content">

        <div class="loading">        
            <p>Fetching Data.</p>
        </div>


        <!-- Listing -->

        <div class="activeListing">
            <ul id="ActiveListing" class="activeListingList"></ul>
        </div>

        <div id="AddPostingContainer" class="addPostingContainer">
            <div class="addPostingBtn" onclick="AddVehicle()">
                <i class="fas fa-plus"></i>
            </div>
        </div>
        <!-- My Account
        <div id="MyAccountMenu" class="myAccountMenu">
            <ul class="accountMenuList">
                <li class="accountMenuListItems">
                    <a href="/Profile">
                        <i class="far fa-user fa-2x accountMenuIcon"></i>
                        Profile
                    </a>
                </li>
                <li class="accountMenuListItems">
                    <a href="/Dashboard">
                        <i class="fas fa-columns fa-2x accountMenuIcon"></i>
                        Dashboard
                    </a>
                </li>
                <li class="accountMenuListItems">
                    <a href="/Schedule">
                        <i class="far fa-calendar-alt fa-2x accountMenuIcon"></i>
                        Schedule
                    </a>
                </li>
                <li class="accountMenuListItems">
                    <a href="/Contact">
                        <i class="fas fa-phone fa-2x accountMenuIcon"></i>
                        Contact Us
                    </a>
                </li>
            </ul>
        </div> -->
        <!-- ListingSettings -->
        <div id="ListingSettingsContainer" class="listingSettingsContainer">
            <ul class="listingSettingsList">
                
            </ul>
        </div>
    </div>
</body>

<script src="../Js/sideMenu.js"></script>
<script src="../Js/loading.js"></script>
<script src="../Js/privileges.js"></script>
<script src="../Js/SysAdminDashboardVehicle.js"></script>
<script src="../Js/listingSettings.js"></script>
<script>
    var user = <%-JSON.stringify(user)%>
    console.log(user)
    var vehicleList = <%-JSON.stringify(vehicles)%>
    console.log(vehicleList)
    populateVehicles();
</script>
</html>