

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/css/all.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/editProfile.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
<%- include partials/googleAnalytics %>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="../images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <%- include partials/dropDownMenu %>
        </ul>
    </div>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
            
        </ul>
        <p class="loggedInAs"></p>
    </div>


    <div class="header" id="Header">
        <div class="banner">
        </div>
        <div class="userInfo">
          <div class="userImage" style="position: relative; height: 100px; width: 100px;">
            <div class=" preview-images" style="height: 100px; width: 100px; position: absolute;">
            </div>
              <img src="/image/<%= user.toObject()._id %>" alt="" class="face" width="100px" height="100px">
          </div>
            <div id="upload-photos">
                <div class="form-group" style="display:none;">
                	<label for="photos-input">Load Image</label>
                	<input id="photos-input" type="file" name="photos[]" onchange="uploadImage()" multiple="multiple" accept="image/*" capture />
                    <input class="btn btn-default" id="uploadBtn" style="display:none;" type="submit" name="Photo Uploads" value="Upload" />
                </div>
                <div id="thumbnailContainer">
                
                </div>
                		<input type="hidden" name="csrf_token" value="just_a_text_field" />
                     <button type="button" class="addImageBtn" onclick="addImage()">ADD PHOTOS</button>
                
            </div>
            
            <form class="mt-4"
            action="/upload/profile/<%= user.toObject()._id %>"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <input
                type="file"
                name="file"
                id="input-files"
                class="form-control-file border"
                accept=".png,.jpg,.jpeg"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
            <form action="/users/editprofile" method="POST" class="editForm">
                <%- include partials/messages %>
                <div class="form-group">
                    <label for="fName">Firstname</label>
                    <input type="name" id="fName" name="fName" class="form-control" value="<%= user.toObject().fName%>"/>
                    
                  </div>
                  <div class="form-group">
                    <label for="name">Lastname</label>
                    <input type="name" id="lName" name="lName" class="form-control" value="<%= user.toObject().lName%>"/>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" value="<%= user.toObject().email%>"/>
                  </div>
                  <!-- <div class="form-group">
                    <label for="bio">Bio</label>
                    <input type="text" id="bio" name="bio" class="form-control" value="<%= user.toObject().bio%>"/>
                  </div>
                  <div class="form-group">
                    <label for="experience">Experience</label>
                    <input type="text" id="experience" name="experience" class="form-control" value="<%= user.toObject().experience%>"/>
                  </div>
                  <div class="form-group">
                    <label for="specialty">Specialty</label>
                    <input type="text" id="specialty" name="specialty" class="form-control" value="<%= user.toObject().specialty%>"/>
                  </div>
                  <div class="form-group">
                    <label for="favoriteCar">Favorite Car</label>
                    <input type="text" id="favoriteCar" name="favoriteCar" class="form-control" value="<%= user.toObject().favoriteCar%>"/>
                  </div>
                  <div class="form-group">
                    <label for="currentCar">Current Car</label>
                    <input type="text" id="currentCar" name="currentCar" class="form-control" value="<%= user.toObject().currentCar%>"/>
                  </div> -->
                  <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value="<%= user.toObject().phoneNumber%>"/>
                  </div>
                  <!-- <div class="form-group">
                    <label for="linkedin">Linkedin</label>
                    <input type="text" id="linkedin" name="linkedin" class="form-control" value="<%= user.toObject().linkedin%>"/>
                  </div>
                  <div class="form-group">
                    <label for="instagram">Instagram</label>
                    <input type="text" id="instagram" name="instagram" class="form-control" value="<%= user.toObject().instagram%>"/>
                  </div>
                  <div class="form-group">
                    <label for="facebook">Facebook</label>
                    <input type="text" id="facebook" name="facebook" class="form-control" value="<%= user.toObject().facebook%>"/>
                  </div> -->
                  <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" id="street" name="street" class="form-control" value="<%= address[0].toObject().street%>"/>
                  </div>
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" class="form-control" value="<%= address[0].toObject().city%>"/>
                  </div>
                  <div class="form-group">
                      <label for="province">Province</label>
                      <input type="text" id="province" name="province" class="form-control" value="<%= address[0].toObject().province%>"/>
                    </div>
                  <div class="form-group">
                    <label for="postal">Postal</label>
                    <input type="text" id="postal" name="postal" class="form-control" value="<%= address[0].toObject().postal%>"/>
                  </div>
                <button class="saveEditBtn">
                    Save Changes
                </button>
            </form>
        </div>

        </div>
</body>
<script src="../Js/sideMenu.js"></script>
<script src="../Js/privileges.js"></script>
</html>