<html>
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/css/all.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/faq.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
<%- include partials/googleAnalytics %>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <!-- <%- include partials/dropDownMenu %> -->
        </ul>
    </div>
    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
        </ul>
        <p class="loggedInAs"></p>
    </div>
    <div class="container body-content">
        <div class="header">
            <h1>FAQ</h1>
        </div>
        <div class="values">
            <h3 >What is a tulu?</h3>
            <br>
            <p style="text-align: center;">The tulu you connect with will handle all communications with the dealership on your behalf.
                A tulu is your personal shopping assistant for all your car buying questions.
                They worry about the details, so you don’t have to!</p>
            <br>
            <h3 >Where does the tulu inventory come from?</h3>
            <br>
            <p style="text-align: center;">At tulu we like to say we have an unlimited inventory.
                tulu partners with dealerships in your area to give you access to a wide range of inventory all on one platform.
                No matter what vehicle you may be after, your tulu can get it for you.
                *Subject to dealership availability.
                </p>
            <br>
            <h3 >Can you trade in vehicles through tulu?</h3>
            <br>
            <p style="text-align: center;">The simple answer is YES! Your trade in vehicle can be shown to multiple dealer partners
                so you have peace of mind knowing you got the best price possible.</p>
            <br>
            <h3 >Can I finance through tulu?</h3>
            <br>
            <p style="text-align: center;">Absolutely! tulu works with a wide variety of financial institutions for your convenience.</p>
            <br>
            <h3 >I have bad credit, can tulu still help me finance a vehicle?</h3>
            <br>
            <p style="text-align: center;">tulu works with a variety of banks that specialize in getting you approved for financing with poor credit history.
            </p>
        </div>
    </div>
    <%- include partials/footer %>
</body>
<script src="Js/sideMenu.js"></script>
<script src="Js/privileges.js"></script>
</html>