

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/css/all.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/register.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
<%- include partials/googleAnalytics %>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="../images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <%- include partials/dropDownMenu %>
        </ul>
    </div>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
            
        </ul>
        <p class="loggedInAs"></p>
    </div>
      <div class="container">
      <%- include partials/messages %>
      <form action="/tulu/tuluRegistration" method="POST">
        <h1>Sign Up For an Account</h1>
        <div class="form-group">
          <label for="fName">First name</label>
          <input type="name" id="fName" name="fName" class="form-control" placeholder="Enter First name" value="" />
        </div>
        <div class="form-group">
          <label for="name">Last name</label>
          <input type="name" id="lName" name="lName" class="form-control" placeholder="Enter Last name" value="" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="" />
        </div>
        <div class="form-group">
          <label for="bio">Bio</label>
          <input type="text" id="bio" name="bio" class="form-control" placeholder="Enter Bio" value="" />
        </div>
        <div class="form-group">
          <label for="experience">Experience</label>
          <input type="text" id="experience" name="experience" class="form-control" placeholder="Enter experience" value=""/>
        </div>
        <div class="form-group">
          <label for="specialty">Specialty</label>
          <input type="text" id="specialty" name="specialty" class="form-control" placeholder="Enter specialty" value=""/>
        </div>
        <div class="form-group">
          <label for="favoriteCar">Favorite Car</label>
          <input type="text" id="favoriteCar" name="favoriteCar" class="form-control" placeholder="Enter Favorite Car" value=""/>
        </div>
        <div class="form-group">
          <label for="currentCar">Current Car</label>
          <input type="text" id="currentCar" name="currentCar" class="form-control" placeholder="Enter Current Car" value=""/>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Enter Phone Number" value=""/>
        </div>
        <div class="form-group">
          <label for="linkedin">Linkedin</label>
          <input type="text" id="linkedin" name="linkedin" class="form-control" placeholder="Enter Linkedin" value=""/>
        </div>
        <div class="form-group">
          <label for="instagram">Instagram</label>
          <input type="text" id="instagram" name="instagram" class="form-control" placeholder="Enter Instagram" value=""/>
        </div>
        <div class="form-group">
          <label for="facebook">Facebook</label>
          <input type="text" id="facebook" name="facebook" class="form-control" placeholder="Enter Facebook" value=""/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>"/>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>"/>
        </div>
        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" id="street" name="street" class="form-control" placeholder="Enter Street" value=""/>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" name="city" class="form-control" placeholder="Enter City" value=""/>
        </div>
        <div class="form-group">
            <label for="province">Province</label>
            <input type="text" id="province" name="province" class="form-control" placeholder="Enter Province" value=""/>
          </div>
        <div class="form-group">
          <label for="postal">Postal</label>
          <input type="text" id="postal" name="postal" class="form-control" placeholder="Enter Postal" value=""/>
        </div>
        <div class="hidden" style="display: none;">
          <input type="text" id="role" name="role" class="form-control" value="tulu"/>
          <input type="text" id="ratings" name="ratings" class="form-control" value="5"/>
          <input type="text" id="carsSold" name="carsSold" class="form-control" value="0"/>
          <input type="text" id="status" name="status" class="form-control" value="pending"/>
        </div>
        <p onclick="popUp()" class="privacyPolicy">Please Read Privacy Policy and Terms and Condition</p>
        <button type="submit" disabled class="registerBtn">
          Register
        </button>
      </form>
      <p class="lead mt-4">Already Have An Account? <a href="/tulu/tuluLogin">Sign In</a></p>
    </div>
    <div class="popUp">
      <div class="wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus pariatur hic aspernatur veritatis reprehenderit perspiciatis dignissimos culpa totam at officia libero obcaecati voluptas, esse incidunt eaque optio quas voluptatum. Ab tempore quo nobis minima modi nemo quasi voluptas eaque eum ipsa ex, animi nesciunt et fugiat voluptates odit facilis totam iusto, nulla quia corporis? Doloribus neque temporibus veniam earum natus repudiandae, tempore vel hic ipsa dolorem accusamus! Minus doloremque, rem itaque nihil ipsum necessitatibus animi, quam sequi ut quisquam repellendus ex, nobis repudiandae omnis dolorem vitae. Aliquid commodi officiis asperiores laborum delectus eligendi, aut sint hic optio quaerat nulla, dolor beatae itaque voluptatem assumenda, reprehenderit saepe maiores veritatis consectetur nobis at quas voluptate. Corrupti dolorem dolores consequatur, nemo amet hic porro aliquam harum recusandae odio enim dignissimos cupiditate! Natus sapiente odio maiores fugiat nostrum doloribus, dicta dolorum, velit maxime ea fuga nesciunt, unde accusantium aut ullam? Odit tempore temporibus repellat?
        </p>
        <button type="button" onclick="agree()">I agree</button>
      </div>
    </div>
  </body>
  <script src="../Js/sideMenu.js"></script>
  <script src="../Js/register.js"></script>
</html>