

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/css/all.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/influencer.css" />
    <link rel="stylesheet" href="styles/myAccountMenu.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
<%- include partials/googleAnalytics %>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <%- include partials/dropDownMenu %>
        </ul>
    </div>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
        </ul>
        <p class="loggedInAs"></p>
    </div>

    <div class="container body-content">
        <div class="wrapper" id="wrapper">

            <div class="banner">
            </div>
            <div class="userInfo">
                <div class="userImage">
                    <img src="image/<%= user.toObject()._id %>" alt="" class="face" width="100px" height="100px">
                </div>
                <h3 class="userName">
                    <%= user.toObject().fName%> <%= user.toObject().lName%>
                </h3>
                <p class="userRole">
                    <%= user.toObject().role%>
                </p>
                <div class="userRating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p class="carsSold">Cars sold:<span>0</span></p>
                <p class="userBio">
                    <%= user.toObject().bio%>
                </p>
                <ul class="socialMediaAccounts">
                    <li>
                        <a href="<%= user.facebook%>" target="_blank">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="<%= user.instagram%>" target="_blank">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="<%= user.linkedin%>" target="_blank">
                            <i class="fab fa-linkedin-in fa-2x"></i>
                        </a>
                    </li>
                </ul>

                <div class="subInfo">
                    <h4>
                        Experience:
                    </h4> 
                    <p class="experience">
                        <%= user.toObject().experience%>    
                    </p>
                    <h4>
                        Specialty:
                    </h4>
                    <p class="specialty">
                        <%= user.toObject().specialty%>    
                    </p>
                    <h4>
                    Favourite Car:
                    </h4>
                    <p class="favouriteCar">
                        <%= user.toObject().favoriteCar%>
                    </p>
                    <h4>
                    Current Car:
                    </h4>
                    <p class="currentCar">
                        <%= user.toObject().currentCar%>
                    </p>
                    
                    <h4>
                        Location: 
                    </h4>
                    <p class="location">
                        <%= user.toObject().role%>
                    </p>
                </div>
                <a href="/users/EditProfile">
                    <button class="editProfileBtn">
                        Edit Profile
                    </button>
                </a>
            </div>

            <ul class="cardContainer">
                <li>
                    <div class="icon">
                        <i class="far fa-envelope fa-4x"></i>
                    </div>
                    <div class="info">
                        <h3>Messages<span id="messageCountCard"></span></h3>
                        <a href="/messages"><i class="far fa-envelope-open"></i>See Messages</a>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="far fa-calendar-check fa-4x"></i>
                    </div>
                    <div class="info">
                        <h3>Appointments<span id="appointmentCountCard"></span></h3>
                        <a href="/appointment"><i class="fas fa-list"></i>See Appointments</a>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="far fa-handshake fa-4x"></i>
                    </div>
                    <div class="info">
                        <h3>Clients<span id="clientCountCard"></span></h3>
                        <a href="/client"><i class="fas fa-users"></i>See Clients</a>
                    </div>
                </li>
            </ul>

        </div>


        <div class="myAccountMenu" id="MyAccountMenu">
            <ul class="accountMenuList">
                <li class="accountMenuListItems">
                    <a href="/Tulu">
                        <i class="far fa-user fa-2x accountMenuIcon"></i>
                        Profile
                    </a>
                </li>
                <!-- <li class="accountMenuListItems">
                    <a href="/Messages">
                        <i class="far fa-envelope fa-2x accountMenuIcon"></i>
                        Messages
                    </a>
                    <p id="messageCount" class="count"></p>
                </li> -->
                <!-- @*<li class="accountMenuListItems">
                    <a href="/Shop">
                        <i class="fas fa-car fa-2x accountMenuIcon"></i>
                        Vehicles
                    </a>
                </li>*@ -->
                <li class="accountMenuListItems">
                    <a href="/appointment">
                        <i class="far fa-calendar-alt fa-2x accountMenuIcon"></i>
                        Appointments
                    </a>
                    <p id="appointmentCount" class="count"></p>
                </li>

                <li class="accountMenuListItems">
                    <a href="/clients">
                        <i class="far fa-handshake fa-2x accountMenuIcon"></i>
                        My Clients
                    </a>
                </li>


                <!-- @*<li class="accountMenuListItems">
                    <a href="/">
                        <i class="far fa-credit-card fa-2x accountMenuIcon"></i>
                        Coupons
                    </a>
                </li>*@ -->
            </ul>
        </div>


    </div>



</body>
<script src="Js/sideMenu.js"></script>
<script type="text/javascript">
    window.onload = function () {

    }
</script>
<script src="Js/privileges.js"></script>

    <!-- <Script>
            GetUser();
        </Script>   -->
        <Script>
            // // guestprivileges();
        </Script> 
</html>