<html>
<head>
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/css/all.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/uploadResume.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
<%- include partials/googleAnalytics %>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="../images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <%- include partials/dropDownMenu %>
        </ul>
    </div>
    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
        </ul>
        <p class="loggedInAs"></p>
    </div>
    <div class="container body-content">
        <div class="header">
            <h1>Book a Test Drive</h1>
        </div>
        <div class="uploadLicense">
          <p>Please Upload your Resume</p>
          
          <div class="userImage" style="position: relative; height: 100px; width: 100px;">


            <!-- <iframe src="/image/<%= targetId %>" style="width:100%; height:700px;" frameborder="0"></iframe>
            <iframe src="/image/<%= targetId %>" frameborder="1"></iframe>
            <img src="/image/<%= targetId %>" alt="" class="face" width="100px" height="100px" >

            <object data="/image/<%= targetId %>" type="application/pdf" width="750px" height="750px">
                <embed src="/image/<%= targetId %>" type="application/pdf">
                    <p>This browser does not support PDFs. Please download the PDF to view it: <a href="/image/<%= targetId %>">Download PDF</a>.</p>
                </embed>
            </object> -->


            
        <!-- <iframe
          src='/file/<%= targetId %>'
          width="500"
          height="678"
        >
            <p>This browser does not support PDF!</p>
        </iframe> -->

        <img class="image" src="/file/<%= targetId%>">

          </div>
            <div id="upload-photos">
                <div class="form-group" style="display:none;">
                	<label for="photos-input">Load Image</label>
                	<input id="photos-input" type="file" name="photos[]" onchange="uploadImage()" multiple="multiple" accept="image/*" capture />
                    <input class="btn btn-default" id="uploadBtn" style="display:none;" type="submit" name="Photo Uploads" value="Upload" />
                </div>
                <div id="thumbnailContainer">
                
                </div>
            </div>
            
            <form class="mt-4" action="/upload/resume/<%= targetId %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <input type="file" name="file"  id="input-files" onchange="upload()" class="form-control-file border" accept=".doc,.pdf,.txt"/>
            </div>
            <button type="submit" class="btn btn-primary" style="display:none;">Submit</button>
            <button type="button" class="btn" id="complete" onclick="showThankyou()">Finish</button>
            <p class="discalimer">Your information will be kept confidential and will not be distributed</p>
          </form>
          </div>
    </div>
    <div class="popUp">
      <div class="applicationThankyou">
        <h2>
          Thank you!
        </h2> 
        <p>
            Thanks for taking the time to apply for our position. We appreciate your interest in Tulu.
        </p>
        <p>
            We're currently in the process of taking applications for this position.. If you are selected to continue to the interview process, our human resources department will be in contact with you.
        </p>
        <button type="button" onclick="finish()">OK</button>
      </div>
    </div>
    <!-- <a href="/download/<%=targetId%>"><button>QWE</button></a> -->
</body>
<script src="../Js/sideMenu.js"></script>
<script src="../Js/privileges.js"></script>
<script src="../Js/uploadResume.js"></script>
<script>
    var targetId = <%- JSON.stringify(targetId)%>
    console.log(targetId)
    var application = <%- JSON.stringify(application)%>
    console.log(application)
</script>
</html>