

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="../image/png" href="../images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/css/all.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/viewTulu.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
<%- include partials/googleAnalytics %>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="../images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <%- include partials/dropDownMenu %>
        </ul>
    </div>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
            
        </ul>
        <p class="loggedInAs"></p>
    </div>

    <div class="container body-content">
        <div class="wrapper" id="wrapper">

            <div class="banner">
            </div>
            <div class="userInfo">
                <div class="userImage">
                    <i class="fas fa-user fa-4x"></i>
                </div>
                <h3 class="userName">
                </h3>
                <p class="userRole">
                </p>
                <!-- <div class="userRating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div> -->
                <!-- <p class="carsSold">Cars sold:<span>4320</span></p> -->
                <p class="userBio">
                    
                </p>
                <ul class="socialMediaAccounts">
                    
                </ul>
                <div class="subInfo">
                    <h4>
                        Experience:
                    </h4> 
                    <p class="experience">
                        
                    </p>
                    <h4>
                        Specialty:
                    </h4>
                    <p class="specialty">
                    </p>
                    <h4>
                    Favourite Car:
                    </h4>
                    <p class="favouriteCar">
                    </p>
                    <h4>
                    Current Car:
                    </h4>
                    <p class="currentCar">
                    </p>
<!--                     
                    <h4>
                        Location: 
                    </h4>
                    <p class="location">
                    </p> -->
                </div>
            </div>
            
        </div>
        
    </div>

</body>
<script src="../Js/sideMenu.js"></script>
<script src="../Js/viewTulu.js"></script>
<script>
    var tuluId = null;
    var tuluList = <%-JSON.stringify(tulu)%>;
    var addressList = <%-JSON.stringify(address)%>;
</script>
</html>